@model InscricaoViewModel

@{
    ViewData["Title"] = "Inscrição";
}

<h2>Inscrição</h2>

<form asp-action="Create">
    <div class="input-field">
        <label asp-for="Inscricao.Nome" class="active"></label>
        <input asp-for="Inscricao.Nome" class="validate" />
        <span asp-validation-for="Inscricao.Nome" class="helper-text red-text"></span>
    </div>

    <div class="input-field">
        <label asp-for="Inscricao.DataNascimento" class="active"></label>
        <input asp-for="Inscricao.DataNascimento" class="datepicker validate" type="text" />
        <span asp-validation-for="Inscricao.DataNascimento" class="helper-text red-text"></span>
    </div>

    <div class="input-field">
        <label asp-for="Inscricao.Telefone" class="active"></label>
        <input asp-for="Inscricao.Telefone" class="validate" />
        <span asp-validation-for="Inscricao.Telefone" class="helper-text red-text"></span>
    </div>

    <div class="input-field">
        <label asp-for="Inscricao.PacoteId" class="active"></label>
        <select asp-for="Inscricao.PacoteId" asp-items="Model.Pacotes">
            <option value="">Selecione um Pacote</option>
        </select>
        <span asp-validation-for="Inscricao.PacoteId" class="helper-text red-text"></span>
    </div>
                 
    <div class="input-field">
        <label asp-for="Inscricao.AtividadesSelecionadas" class="active">Atividades</label>
        <select asp-for="Inscricao.AtividadesSelecionadas" asp-items="Model.Atividades" multiple="multiple">
        </select>
        <span asp-validation-for="Inscricao.AtividadesSelecionadas" class="helper-text red-text"></span>
    </div>    

    <button type="submit" class="btn btn-primary">Próximo</button>    
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);

        var dateElems = document.querySelectorAll('.datepicker');
        M.Datepicker.init(dateElems, {
            format: 'dd/mm/yyyy'
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
